@import url('https://fonts.googleapis.com/css?family=Noto+Serif:ital,wght@0,400;0,700;1,400');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:wght@700');
@import url('https://fonts.googleapis.com/css?family=Sora:wght@600');

body {
    font-family: 'Noto Serif', serif;
    font-size: 1.66rem;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-family: 'Sora', sans-serif;
    font-size: 5rem;
    font-weight:  600;
    color: #21314D;
    border-top: solid 1px #92A2BD;
    border-bottom: solid 1px #92A2BD;
    padding: 0.1rem;
    margin-top: 72pt;
    margin-bottom: 36pt;
    line-height: 2;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3rem;
    font-weight:  700;
    color: #21314D;
    margin-top: 24pt;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    font-weight:  700;
    color: #21314D;
}

h4 {
    font-size: 2rem;
    font-style: italic;
}

pre {
    font-family: monospace;
    font-size: 1.66rem;
    line-height: 1.5;
}

code {
    font-family: monospace;
    color: #a11;
    background-color: white;
    font-size: 100%;
    padding: 0px;
}

dd {
    margin-left: 3rem;
}

table.htCore {
    font-family: monospace;
}

table:not(.htCore) td {
    text-align: left;
}

a.footnote-reference {
    font-size: 80%;
    vertical-align: text-top;
}

/* Runestone elements and page layout */

.container .section>*:not(.section):not(.ac_section) {
    max-width: 600pt;
    margin-left: auto;
    margin-right: auto;
}

#main-content>* {
    max-width: 600pt;
    margin-left: auto;
    margin-right: auto;
}

#main-content {
    padding-bottom: 24pt;
}

#scprogresscontainer {
    margin-top: 40px;
    margin-bottom: 80px;
}

.CodeMirror {
    height: auto !important;
    border-width: 0px !important;
}

.ac_sql_result {
    background-color: white !important;
}

.ac_output pre {
    min-height: 0px;
    background-color: #B2B4B3 !important;
    display: contents;
}

.ac_section.alert-warning {
    background-color: #CED5DD;
    border-color: #FFF;
}

.ac_section p.runestone_caption {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

::-webkit-scrollbar {
    background-color: #B2B4B3;
    border-radius: 4px;
    width: 14px;
}

/* 
    some overrides to change Pygments highlighting to follow CodeMirror theming,
    at least for SQL.  Nasty kludge.
*/
.highlight .c1 { color: #a50; font-style: normal } /* Comment.Single */
.highlight .cm { color: #a50; font-style: normal } /* Comment.Multiline */
.highlight .k { color: #708; font-weight: normal } /* Keyword */
.highlight .o { color: #000 } /* Operator */
.highlight .m { color: #164 } /* Literal.Number */
.highlight .s1 { color: #a11 } /* Literal.String.Single */
