@import url('http://fonts.googleapis.com/css?family=Noto+Serif');
@import url('http://fonts.googleapis.com/css?family=Noto+Sans');
@import url('http://fonts.googleapis.com/css?family=Sora');

body {
    font-family: 'Noto Serif', serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

table {
    font-family: monospace;
}

h1 {
    font-family: 'Sora', sans-serif;
    font-size: 5rem;
    font-weight:  600;
    color: #21314D;
    border-top: solid 1px #92A2BD;
    border-bottom: solid 1px #92A2BD;
    padding: 0.1rem;
    margin-top: 72pt;
    margin-bottom: 36pt;
    line-height: 2;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3rem;
    font-weight:  700;
    color: #21314D;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    font-weight:  700;
    color: #21314D;
}

h4 {
    font-size: 2rem;
    font-style: italic;
}

pre {
    font-family: monospace;
    font-size: 1.75rem;
}

.container .section>*:not(.section):not(.ac_section) {
    max-width: 600pt;
    margin-left: auto;
    margin-right: auto;
}

#scprogresscontainer {
    margin-top: 40px;
    margin-bottom: 80px;
}
